{% extends 'base.html' %}
{% load static %}

{% block content %}

<div>
  <div>
    {% if user.is_authenticated %}
    <h3 class="text-center mb-3" style="color: #000;"> Hello, {{ user.username }}!</h3>
    <div class="container-fluid d-flex flex-column min-vh-100 bg-secondary">
      <header class="py-3 d-flex flex-column align-items-center justify-content-center">
        <h1 class="display-1 text-center text-light">Cricket Mania</h1>
        <p class="lead text-center text-light">Welcome to the world of cricket!</p>
      </header>
      <main class="container flex-grow-1">
        <section class="row justify-content-center">
          <div class="col-md-8">
            <h2 class="mb-4">What is Cricket?</h2>
            <p class="lead">Cricket is a bat-and-ball game played between two teams of eleven players each on a
              field at the
              center of which a rectangular 22-yard pitch with a wicket at each end, each comprising two bails
              balanced on
              three stumps.</p>
            <div><img
                src="https://assets-global.website-files.com/5ca5fe687e34be0992df1fbe/632423fec18a84019f9f5520_Cricket%20Pitch.jpg"
                alt="wicket" class="img-fluid"></div>
            <p>The game proceeds when a player on the fielding team known as the "bowler" throws the ball at the
              wicket
              guarded by two players on the batting side known as "batsmen".</p>
          </div>
        </section>

        <hr class="my-5">

        <section class="row justify-content-center">
          <h2 class="mb-4">Greatest Cricket Players</h2>
          <div class="col-md-4 mb-4">
            <div class="card h-80 shadow-sm">
              <img
                src="https://m.economictimes.com/thumb/msid-86962283,width-1200,height-900,resizemode-4,imgsize-34966/sachin1200.jpg"
                class="card-img-top" alt="Sachin Tendulkar" style="height: 300px; width: 100%;">
              <div class="card-body">
                <h5 class="card-title">Sachin Tendulkar (India)</h5>
                <p class="card-text">Widely regarded as the greatest batsman of all time, Tendulkar holds numerous
                  cricket
                  records.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card h-80 shadow-sm">
              <img src="https://wallpapercave.com/wp/wp8984963.jpg" class="card-img-top" alt="Sir Viv Richards"
                style="height: 300px; width: 100%;">
              <div class="card-body">
                <h5 class="card-title">Sir Viv Richards (West Indies)</h5>
                <p class="card-text">A legendary batsman known for his aggressive style and explosive power.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card h-80 shadow-sm">
              <img
                src="https://assets-global.website-files.com/63e1755440de2d22a814c9fc/650ce376761e54b31405e11d_64f841f4aa92f5ecf81dcaa9_64c9ae146193a046609e82cd_Muttiah-Muralitharan.jpeg"
                class="card-img-top" alt="Muttiah Muralitharan" style="height: 300px; width: 100%;">
              <div class="card-body">
                <h5 class="card-title">Muttiah Muralitharan (Sri Lanka)</h5>
                <p class="card-text">The world's leading wicket-taker in Test cricket, known for his exceptional
                  off-spin
                  bowling.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card h-80 shadow-sm">
              <img
                src="https://img1.hscicdn.com/image/upload/f_auto,t_ds_square_w_320,q_50/lsci/db/PICTURES/CMS/316500/316516.png"
                class="card-img-top" alt="James Anderson" style="height: 300px; width: 100%;">
              <div class="card-body">
                <h5 class="card-title">James Anderson (England)</h5>
                <p class="card-text">English cricketer known for his prolific career as a fast bowler, particularly in
                  Test cricket, where he has achieved numerous records and milestones.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card h-80 shadow-sm">
              <img
                src="https://library.sportingnews.com/styles/twitter_card_120x120/s3/2021-08/shane-warne_1ro8h7jhc5h7212f4bf00r4d1a.jpg?itok=14s9JyEN"
                class="card-img-top" alt="Shane Warne" style="height: 300px; width: 100%;">
              <div class="card-body">
                <h5 class="card-title">Shane Warne (Australia)</h5>
                <p class="card-text">Shane Warne, the iconic Australian cricketer, mesmerized the world with his
                  unparalleled spin bowling skills.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card h-80 shadow-sm">
              <img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2013/12/28/15/Jacques-Kallis.jpg"
                class="card-img-top" alt="Jaques Kallis" style="height: 300px; width: 100%;">
              <div class="card-body">
                <h5 class="card-title">Jaques Kallis (South Africa)</h5>
                <p class="card-text">He is a former South African cricketer and captain who is widely regarded as one of
                  the greatest opening batsmen in cricket history.
                </p>
              </div>
            </div>
          </div>
        </section>
      </main>

    </div>
    {% else %}
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-5">
          <div class="card-body" style="padding: 40px; background-color: rgba(0, 0, 0, 0.7);">
            <h1 class="text-center mb-4" style="color: #fff;">Login</h1>
            <form method="POST" action="{% url 'home' %}">
              {% csrf_token %}
              <div class="mb-3">
                <input type="text" class="form-control" name="username" placeholder="Username"
                  style="border: 2px solid #fff; border-radius: 10px; height: 50px; color: #000;">
              </div>
              <div class="mb-3">
                <input type="password" class="form-control" name="password" placeholder="Password"
                  style="border: 2px solid #fff; border-radius: 10px; height: 50px; color: #000;">
              </div>
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary btn-block"
                  style="background-color: #007bff; border: none; border-radius: 10px; padding: 10px 20px;">Login</button>
              </div>
            </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}