<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">CricGenie</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul> <!-- Empty ul to push items to the right -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0"> <!-- Utilize ms-auto to push items to the right -->
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'search_players' %}" class="btn btn-primary me-2">Players</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'favorite_players' %}" class="btn btn-primary me-2">
                        Favorite Players
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{% url 'home' %}" class="btn btn-primary me-2">Login</a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>